<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    <form action="/login" method="POST">
      <input name="account"        
             placeholder="account" 
             class="input_text" 
             type="text">
      <input name="name"         
             placeholder="name" 
             class="input_text" 
             type="text">
      <input name="password"         
             placeholder="password" 
             class="input_text" 
             type="text">
      <input name="phone_number" 
             placeholder="phone_number"  
             class="input_text" 
             type="text">
      <input name="gender" 
             placeholder="gender"  
             class="input_text" 
             type="text">
    <button class="submit">注册</button>
  </form>

</body>
</html>
