<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    <form action="/reactive" method="POST">
      <input name="email"        
             placeholder="email" 
             value="635044633@qq.com"
             class="input_text" 
             type="text">
      <input name="account"        
             value="635044633@qq.com"
             placeholder="account" 
             class="input_text" 
             type="text">
      <input name="name"         
             value="greyhound"
             placeholder="name" 
             class="input_text" 
             type="text">
      <input name="password"         
             placeholder="password" 
             value="121212"
             class="input_text" 
             type="text">
      <input name="phone_number" 
             value="18120583139"
             placeholder="phone_number"  
             class="input_text" 
             type="text">
      <input name="gender" 
             value="男"
             placeholder="gender"  
             class="input_text" 
             type="text">
    <button class="submit">注册</button>
  </form>

</body>
</html>
