<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    <!-- <form action="/pic/uploadpic" method="POST" enctype="multipart/form-data"> -->
    <form action="/item/delete" method="POST">
      <input name="image_name"
             placeholder="image_name"
             class="input_text"
             type="text" />
      <input name="upload"
             placeholder="file upload"
             class="input_text"
             type="file" />
      <input name="price"
             placeholder="price"
             value="123.3"
             class="input_text"
             type="text" />
      <input name="keywords"        
             placeholder="keywords" 
             value="keyword01 keyword02"
             class="input_text" 
             type="text">
      <input name="description"        
             placeholder="description" 
             value="this is description"
             class="input_text" 
             type="text">
      <input name="email"        
             placeholder="email" 
             value="635044633@qq.com"
             class="input_text" 
             type="text">
      <input name="account"        
             value="635044633@qq.com"
             placeholder="account" 
             class="input_text" 
             type="text">
      <input name="password"         
             placeholder="password" 
             value="121212"
             class="input_text" 
             type="text">
      <input name="name"         
             value="greyhound"
             placeholder="name" 
             class="input_text" 
             type="text">
      <input name="old_pass"         
             placeholder="old_pass" 
             value="121212"
             class="input_text" 
             type="text">
      <input name="new_pass"         
             placeholder="new_pass" 
             value="12121212"
             class="input_text" 
             type="text">
      <input name="phone_number" 
             value="18120583139"
             placeholder="phone_number"  
             class="input_text" 
             type="text">
      <input name="gender" 
             value="男"
             placeholder="gender"  
             class="input_text" 
             type="text">
      <button class="submit">提交</button>
    </form>

</body>
</html>
